@charset "UTF-8";

@media screen and (min-width: 768px){

    header,menu,section{
        width: 768px;
        margin: auto;
    }

    div.main > ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 100px;
    }

    i#burguer{
        display: none;
    }

   menu{
        display: block;
    }

    i#logo{
        font-size: 6em;
    }

    header > div > h1{
        font-size: 4em;
    }

    menu#itens > nav > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    section > div.home{
        margin-top: 40px;
    }

    section > div.home > h2{
        font-size: 3.5em;
        margin-left: 120px;
    }

    section > div.home > p{
        font-size: 2em;
        margin-left: 100px;
    }

    section > div.home > h3{
        font-size: 4em;
    }

    }