@charset "UTF-8";

@media screen and (min-width: 768px){

    header,menu,section{
        width: 768px;
        margin: auto;
    }

    div.main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 100px;
    }

    i#burguer{
        display: none;
    }

   menu#itens{
        display: block;
    }

    .logo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    i#logo{
        font-size: 6em;
    }

    header > div > h1{
        font-size: 4em;
    }

    div#container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    section > div.home{
        margin-top: 40px;
    }

    section > div.home > h2{
        font-size: 3.5em;
        margin-left: 120px;
    }

    section > div.home > p{
        font-size: 2em;
        margin-left: 100px;
    }

    section > div.home > h3{
        font-size: 4em;
    }

    img#back{
        width: 400px;
        height: 400px;
    }
    
    section#cover{
        display: flex;
        justify-content: center;
    }

    div.main{
        top: 55%;
        left: 10%;
    }
}