@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --bg-color:#1d2631;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --p-color: #ffffff99;
}

body{
    background-color:var(--bg-color);
    color: var(--tex-color);
}

header{
    width: 400px;
    margin: auto;
}

header > div.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

header > div > h1{
    color: var(--tex-color);
    font-size: 3em;
    font-weight: bold;
}

i#logo{
    color: var(--main-color);
    margin-top: 10px;
    font-size: 70px;
}

.cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#cart{
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

.burguer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

i#burguer{
    padding: 5px;
    text-align: center;
    font-size: 35px;
    color: var(--tex-color);
    background-color: var(--main-color);
    cursor: pointer;
}

menu{
    display: none;
}

menu#itens > nav > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 5px;
    max-width: 768px;
}

menu#itens > nav > ul > li > a{
    display: block;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--tex-color);
    border-radius: 5px;
}

menu > nav > ul > li >a:hover{
    background-color: var(--tex-color);
    color: var(--main-color);
    border-radius: 5px;
}

div.main > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 3%;
    transform: translateY(-50%);
    gap: 3rem;
}

div.main > ul > li > img{
    width: 50px;
    height: auto;
    max-width: 100%;
}

#row1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all.55s ease;
    cursor: pointer;
}

#row1:hover {
    transform: translateY(-8px);
}

#row2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ff758d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all.55s ease;
    cursor: pointer;
}

#row2:hover{
    transform: translateY(-8px);
}

#row3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffd06d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all.55s ease;
    cursor: pointer;
}

#row3:hover{
    transform: translateY(-8px);
}

section > div.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section > div.home > h2{
    padding: 10px;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 2em;
}

section > div.home > p{
    color: #ffffff99;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}

section > div.home > h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

section > div.home > a{
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    border: solid 2px var(--tex-color);
    color: var(--tex-color);
}

section > div.home > a:hover{
    background: var(--tex-color);
    color: var(--bg-color);
}






div > ul > p#wire {
    display:none;
 }

 div > ul:hover > p#wire{
    display: block;
    color: white;
    background-color:var(--main-color) ;
    width: 100px;
}

p#wire{
display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
    width: 70px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: all.55s ease;
    cursor: pointer;
}