@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --bg-color:#1d2631;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --p-color: #ffffff99;
}

body{
    background-color:var(--bg-color);
    color: var(--tex-color);
}

header{
    width: 400px;
    margin: auto;
}

header > div.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

header > div > h1{
    color: var(--tex-color);
    font-size: 3em;
    font-weight: bold;
}

i#logo{
    color: var(--main-color);
    margin-top: 10px;
    font-size: 70px;
}

.cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#cart{
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

.burguer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

i#burguer{
    padding: 5px;
    text-align: center;
    font-size: 35px;
    width: 100px;
    color: var(--tex-color);
    border: 2px solid rgba(255, 255, 255, 0.795);
    border-radius: 2px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: var(--main-color);
}

menu#itens{
    display: none;
}

div#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 5px;
    max-width: 768px;
}

.button{
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    text-decoration: none;
    color: var(--tex-color);
    border-radius: 20px;
    cursor: pointer;
}

.button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .3s;
    background-color: var(--main-color);
}

.link::before{
    width: 0px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.link:hover::before{
    width: 100%;
}

div.main > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 3%;
    transform: translateY(-50%);
    gap: 3rem;
}

div.main > ul > div#heads > li > img{
    width: 50px;
    height: auto;
    max-width: 100%;
}
div.main > ul > div#buds > li > img{
    width: 50px;
    height: auto;
    max-width: 100%;
}

div.main > ul > div#micros > li > img{
    width: 50px;
    height: auto;
    max-width: 100%;
}

#row1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all 0.7s ease;
    cursor: pointer;
}

#row1:hover {
    transform: translateY(-8px);
}

#row2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ff758d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all 0.7s ease;
    cursor: pointer;
}

#row2:hover{
    transform: translateY(-8px);
}

#row3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffd06d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: all 0.7s ease;
    cursor: pointer;
}

#row3:hover{
    transform: translateY(-8px);
}

section > div.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section > div.home > h2{
    padding: 10px;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 2em;
}

section > div.home > p{
    color: #ffffff99;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
}

section > div.home > h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

section > div.home > a{
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    border: solid 2px var(--tex-color);
    color: var(--tex-color);
}

section > div.home > a:hover{
    background: var(--tex-color);
    color: var(--bg-color);
}

div#heads > p{
    display:none;
 }

div#heads:hover > p{
    display: block;
    color: white;
    background-color:#34e8f87b;
    width: 120px;
}

p#blue{
    position: absolute;
    text-align: center;
    height: 70px;
    width: 70px; 
    bottom: 330px;
    border-radius: 15px;
}

div#buds > p{
    display:none;
 }

 div#buds:hover > p{
    display: block;
    color: white;
    background-color:#ff758c87 ;
    width: 120px;
}

p#pink{
    position: absolute;
    text-align: center;
    height: 70px;
    width: 70px; 
    bottom: 210px;
    border-radius: 15px;
}

div#micros > p{
    display:none;
 }

 div#micros:hover > p{
    display: block;
    color: white;
    background-color:#ffd16d84 ;
    width: 120px;
}

p#yellow{
    position: absolute;
    text-align: center;
    height: 70px;
    width: 70px; 
    bottom: 90px;
    border-radius: 15px;
}

.carrosel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.tank{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

div.tank > img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}