@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --backgroundcolor:#101113;
    --textcolor:#fff;
    --maincolor:#34e7f8;
    --secundarycolor:#fcfcfc;
    --h1font-size:4em;
    --pfont-size:1em;
}

body{
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}

h1{
    display: flex;
    align-items: center;
    color: var(--textcolor);
    font-size: 3em;
    font-weight: bold;
}

#logo i{
    color: var(--maincolor);
    margin: 5px;
}

#navigation{
    display: flex;
}

#navigation a:hover{
    color: var(--maincolor);
} 


