@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --backgroundcolor:#101113;
    --textcolor:#fff;
    --maincolor:#34e7f8;
    --secundarycolor:#fcfcfc;
    --h1font-size:4em;
    --pfont-size:1em;
}

body{
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
}

header{
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}

h1{
    display: flex;
    align-items: center;
    color: var(--textcolor);
    font-size: 3em;
    font-weight: bold;
}

#logo i{
    font-size: 2em;
    color: var(--maincolor);
    margin: 0px;
}

#navigation{
    display: flex;
}

#navigation a{
    color: var(--secundarycolor);
    font-size: var(--pfont-size);
    font-weight: light;
    margin: 0px 30px;
    transition: a .55s ease;
}

#navigation a:hover{
    color: var(--maincolor);
}

#cart{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 3em;
    color: var(--textcolor);
    z-index: 10001;
    cursor: pointer;
}

#cart i{
    margin-right: 25px;
    font-size: 3em;
    cursor: pointer;
    transition: all .5s ease;
}

nav > div i:hover{
    transform: translateY(-5px);
    background-color: var(--maincolor);
    transition: all .5s ease;
}

#home{
    
}


